@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body{
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	background: url(../img/hero2-ubv.jpg) no-repeat center /*fixed*/;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

}

/*header:after {
	display: block;
	clear: both;
	content: "";
	height: 0;
}*/

h1{
	background-color: transparent;
	font-size: 10em;
	color: white;
	text-align: left;
	text-transform: uppercase;
	font-family: 'Amatic SC', cursive;
	padding: 12px;
	margin: 1% 32.5% auto;

}


h3{
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	
}


footer{
	background-color: 	rgba(232,232,232, 0.5);
	position: absolute;
	bottom: 0px;
	width: 100%;
	;

}

#subtitle{
	word-spacing: 10px;
	letter-spacing: 3px;

}

#disclaimer{
	float: left;
}

#fb{
	float: right;
}

#insta{
	float: right;
}


@media only screen and (max-width:768px){

body{	

	background: url(../img/hero4-ubv.jpg) no-repeat center /*fixed*/;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	
	}

}

@media only screen and (max-width:414px){

body{
	
	background: url(../img/hero3-ubv.jpg) no-repeat center /*fixed*/;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

}

}








