@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

body{
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	background: url(../img/hero2-ubv.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

}


header{
	overflow: auto;
}

h1{
	background-color: transparent;
	font-size: 9em;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Amatic SC', cursive;
	
}


h3{
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

h4{
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
}


a{
	overflow: auto;
}


#wrapper{
	margin-top: 35%;
	overflow: auto;
}

#fb{
	float: right;
	display: inline-block;
}

#insta{
	float: right;
	display: inline;
}

#working{
	float: right;
	display: inline-block;
}

#insta:after { 
 	display: block;
	clear: both;
	content: "";
	height: 0;
}

@media only screen and (min-width: 415px) and (max-width:768px){

body{	

	background: url(../img/hero4-ubv.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	}

h1{
	padding: 0;
    font-size: 7em; 
}

}

@media only screen and (min-width:1px) and (max-width:414px){

body{
	
	background: url(../img/hero5-ubv.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
}

h1{
	padding: 0;
    font-size: 6em;
    margin: 1em 1em 0 .80em;
}

h3{
	font-size: 1.5em;
}

#subtitle{
	font-size: 1.5em;
}


#wrapper{
	margin-top: 1%;
	overflow: auto;
}

}








