@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

body{
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	background: url(../img/hero2-ubv.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

}


header{
	overflow: auto;
}

h1{
	background-color: transparent;
	font-size: 9em;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Amatic SC', cursive;
	
}


h3{
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 3em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

h4{
	font-family: 'Amatic SC', cursive;
	color: black;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: bold;
}

footer{
	background-color: 	rgba(232,232,232, 0.5);
	position: absolute;
	bottom: 0px;
	width: 100%;
	;

}

a{
	overflow: auto;
}


#wrapper{
	margin-top: 35%;
/*	border: solid red;*/
	overflow: auto;
}

#title{
	/*border: solid black;*/
	
}



#subtitle{
	/*border: solid blue;*/
}




#fb{
	float: right;
	display: inline-block;
	/*border: solid green;*/
}

#insta{
	float: right;
	display: inline;
	/*border: solid yellow;*/
	
	
}

#working{
	float: right;
	display: inline-block;
}

#insta:after { 
 	display: block;
	clear: both;
	content: "";
	height: 0;
}

@media only screen and (min-width: 415px) and (max-width:768px){

body{	

	background: url(../img/hero4-ubv.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	
	}

h1{
	padding: 0;
    font-size: 5em;
    
}

}

@media only screen and (min-width:1px) and (max-width:414px){

body{
	
	background: url(../img/hero5-ubv.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;

}

h1{
	padding: 0;
    font-size: 3em;
    margin: 1em 1em 0 .80em;
}

h3{
	font-size: 1em;
}



#subtitle{
	font-size: 2em;
}

}








