@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
	font-family: century, serif;
	font-size: 16px;
	background-color: #85B092;
	}

h1{
	font-size: 3.5em;
	padding: .15em;
}

h4{
	font-size: .75em;
}

nav{
	background-color: #7a4f6d;
	font-family: "century gothic", sans-serif;
	text-transform: uppercase;
	padding: .75em;
	text-align: center;

}

a{
	padding: .5em;
	color: #1B231D;
	text-decoration: none;
}

a:hover{
	color:#C2D8C8;
}


footer{ 
	text-align: right;
	color: #1B231D;
	font-family: "century gothic", sans-serif;
	font-weight: 400;
	text-decoration: none; 
	text-transform: uppercase;
	font-size: 1em;
	padding: .25em;
}

.menu{
	float: left;
	margin: 0 auto;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
	height: 0;

}

#masthead{
	background-color: #85B092;
	color: #1B231D;
	text-align: center;
	text-transform: uppercase;
	font-family: "century gothic", sans-serif;
	padding: 1em;
	/*border-radius: 25%;
	width: 45%;*/
}

#topnav{
	width: 750px;
	margin: 0 auto;
}

#hero{
	display: block;
	width: 100%;

}


/*#address{
	float:left;
	width: 50%;
	font-family: "century", serif;
	text-decoration: none;
	font-size: .75em;
	padding: 1em;
	line-height: 1.5em;
	background-color: green;
}*/



@media screen and (max-width: 768px) {

	h1{
		font-size: 2.5em;
	}

	h4{
		font-size: .75em;
	}
	.menu{
		font-size: 12px;
	}	

	.footnotes{
		font-size: .75em;
	}
	#topnav{
		width: 550px;
	}

	

	}

@media screen and (max-width: 320px) {
		body{
			font-size: 14px;
		}

		}


	